body {
  background-color: #54ace8;
}

.aParent {
  text-align: center;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.firstScreen {
  background-color: #f54d4d;
  width: 500px;
  height: 700px;
  margin-top: 50px;
  border-radius: 20px 0 0 20px;
  padding: 30px;
  float: left;
}

.pokeFrame {
  width: 500px;
  height: 400px;
  margin: 0 auto;
  background-color: crimson;
  border-radius: 15px;
  padding-top: 10px;
}

.pokemonScreen {
  width: 450px;
  height: 320px;
  background-color: #30d7d7;
  margin: 0 auto;
  border-radius: 15px;
}

.hinges {
  background: rgb(174, 238, 204);
  background: linear-gradient(90deg, crimson, #f54d4d, crimson);
  width: 40px;
  height: 720px;
  display: inline-block;
  margin-top: 70px;

}

.secondScreen {
  background-color: #f54d4d;
  width: 500px;
  height: 700px;
  margin-top: 50px;
  border-radius: 0 20px 20px 0;
  padding: 30px;
  float: right;

}


.searchContent {
  margin-top: 70px;
}

.searchInput {
  background-color: beige;
  width: 300px;
  padding: 20px;
  border: 0;
  border-radius: 7px;
  color: darkslategray;
  flex: auto;
  margin-left: 20px;
  text-align: right;
  font-family: "Roboto Mono Light";
  font-size: 15px;
}


.searchButton {
  background-color: gold;
  width: 80px;
  height: 80px;
  border-radius: 100px;
  color: blue;
  margin-left: 30px;
  box-shadow: 4px 4px 0 0 crimson;
  font-family: "Circular Std Bold";
  font-size: 25px;
  border: 10px orange;
}

.searchButton:hover {
  background-color: orange;
  border: 0;
  border-radius: 100px;
  margin-left: 30px;
  color: darkslategray;
}


.pokeLogo {
  max-width: 150px;
  margin-left: 22rem;
  margin-bottom: 25px;
  transform: rotate(12deg);
}

.previous {
  background-color: gold;
  width: 80px;
  height: 80px;
  border-radius: 100px;
  color: blue;
  box-shadow: 4px 4px 0 0 crimson;
  font-family: "Circular Std Bold";
  font-size: 25px;
  border: 10px orange;
  margin-right: 20px;
}

.next {
  background-color: gold;
  width: 80px;
  height: 80px;
  border-radius: 100px;
  color: blue;
  box-shadow: 4px 4px 0 0 crimson;
  font-family: "Circular Std Bold";
  font-size: 25px;
  border: 10px orange;
}